<%= render :partial => 'oauth_consumers/connection' %>
<% unless @consumer_tokens.empty? %>
<div id="search_my_exp">
  <%= form_tag new_workflow_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>


    <% if !@me_workflows.nil? %>
    <!-- Accordion -->
    <h2 class="demoHeaders">Results:  <%= @me_workflows.count %> Workflows found</h2>
    <div id="accordion_results">
      <% @me_workflows.each do |workflow| %>
        <h3>
          Name: <%= workflow.name %> 

        </h3>
        <div>
          <div style="float:right;">          
            <%= link_to workflows_path(:workflow_uri=>workflow.content_uri,
                                          :workflow_name=>workflow.name,
                                          :workflow_link=>workflow.uri), 
                                    :method => :post,
                                    :class=>"link_img"  do %>
              <%= image_tag "cog_add.png", 
                :height => "25",:alt=>"get this workflow",
                :title=>"get this workflow" %>
              get workflow
            <% end %>
            <%= link_to  workflow.uri,:id=>workflow.id,:class=>"link_img" do %>
              <%= image_tag "myexperiment.png", 
                :height => "25",:alt=>"view on my experiment",
                :title=>"view on my experiment",:style=>"aling:middle;" %>
              more details
            <% end %>          
          </div>  
          <%=render :partial=>'add_workflow_myexp_detail', 
                    :locals => {:workflow=>workflow} %>
         
        </div>
      <% end %>  
    </div>
    
    <% else %>
      <h2>No workflows found</h2>
    <%end%>
</div>


<%end%>
