<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# 
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
# 
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# Authors
#     Abraham Nieva de la Hidalga
#     Finn Bacall
# 
# Synopsis 
# 
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is 
# provided to support easy inspection and execution of workflows.
# 
# For more details see http://www.biovel.eu
# 
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<%= render :partial => 'oauth_consumers/connection' %>
<% unless @consumer_tokens.empty? %>
<div id="search_my_exp">
  <%= form_tag new_workflow_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>


    <% if !@me_workflows.nil? %>
    <!-- Accordion -->
    <h2 class="demoHeaders">Results:  <%= @me_workflows.count %> Workflows found</h2>
    <div id="accordion_results">
      <% @me_workflows.each do |workflow| %>
        <h3>
          Name: <%= workflow.name %> 
        </h3>
        <div>
          <div style="float:right;">          
            <%= link_to workflows_path(:workflow_uri=>workflow.content_uri,
                                          :workflow_name=>workflow.name,
                                          :workflow_link=>workflow.uri), 
                                    :method => :post,
                                    :class=>"link_img"  do %>
              <%= image_tag "cog_add.png", 
                :height => "25",:alt=>"get this workflow",
                :title=>"get this workflow" %>
              get workflow
            <% end %>
            <%= link_to  workflow.uri,:id=>workflow.id,:class=>"link_img" do %>
              <%= image_tag "myexperiment.png", 
                :height => "25",:alt=>"view on my experiment",
                :title=>"view on my experiment",:style=>"aling:middle;" %>
              more details
            <% end %>          
          </div>  
          <%=render :partial=>'add_workflow_myexp_detail', 
                    :locals => {:workflow=>workflow} %>
         
        </div>
      <% end %>  
    </div>
    
    <% else %>
      <h2>No workflows found</h2>
    <%end%>
</div>


<%end%>
