<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# 
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
# 
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# Authors
#     Abraham Nieva de la Hidalga
#      
# Synopsis 
# 
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is 
# provided to support easy inspection and execution of workflows.
# 
# For more details see http://www.biovel.eu
# 
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<div id="wf_components" style="height:300px;overflow:auto;">

<% if @processors.count>0 %>
  <p>
    <b> This workflow has <%= @processors.count %> 
      <%= "Component".pluralize(@processors.count)%> </b>
  </p>


<div id="filmstrip">
  <!-- First draw a box for the inputs -->
  <%if @sources.count > 0 %>
    <div class="componentcontainer"> 
      <div class="componentdetails">
         <%= image_tag "inputport.png", :size => "64x64", :alt => "input" %>
         <%= pluralize(@sources.count, "Input")%>
      </div>
    </div>
  <% end %>
  <% %>
  <% for i in 1..@ordered_processors.count %>
  <% item = @ordered_processors[i] %>
  <div class="componentcontainer"> 
    <div class="componentdetails">
      <% componentname = item.name %>
      <% if item.type=="rshell" %>
        <%= image_tag "rlogo.png", :size => "64x64", :alt => "R-Server", 
            :class=>"componenticon"%>
      <%elsif item.type =="workflow"%>
        <%= image_tag "nestedwf.png", :size => "64x64", 
            :alt => "Workflow", :class=>"componenticon" %>
      <% elsif item.type=="stringconstant" %>
        <%= image_tag "stringconstant.png", :size => "64x64", 
            :alt => "constant", :class=>"componenticon" %>
      <%elsif item.type =="localworker"%>
        <%= image_tag "localworker.png", :size => "64x64", :alt => "worker", 
            :class=>"componenticon" %>
      <%elsif item.type =="interaction"%>
        <%= image_tag "interaction.png", :size => "64x64", :alt =>"interaction",
            :class=>"componenticon" %>
      <%elsif item.type =="wsdl"%>
        <%= image_tag "webservice.png", :size => "64x64", :alt => "WS", 
            :class=>"componenticon" %>
      <%elsif item.type =="beanshell"%>
        <%= image_tag "beanshell.png", :size => "64x64", :alt => "WS", 
            :class=>"componenticon" %>
      <%elsif item.type =="component"%>
        <%= image_tag "taverna-component-05.png", :size => "64x64", :alt => "WS", 
            :class=>"componenticon" %>
      <%else%>
        <b> <%= item.type %> |</b>
      <% end %>
        <b> <%= componentname %> </b> 
    </div>    
  </div>
  <% end %>
  <%if @sinks.count > 0 %>
    <div class="componentcontainer"> 
      <div class="componentdetails">
         <%= image_tag "outputport.png", :size => "64x64", :alt => "output" %>
         <%=pluralize(@sinks.count, "Output")%>
      </div>
    </div>

































  <% end %>

</div>
<% else %>  
  <p>
    <b> This workflow has no components </b>
  </p>
<% end %>

</div> 
<!--<div id="scrollwide"style="height: 80px;
overflow: auto;
white-space: nowrap;">
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
<div><img src="/assets/taverna-component-05.png" width="64" ></div>
</div> 
 
<style type="text/css">       
#div_1
{

height: 150px;
width: 350px;
margin: auto;
border: 1px black solid;
overflow-y: hidden;
overflow-x: scroll}

#div_3
{
float: left;
height: 150px;
width: 500px;
margin: auto;
border: 1px black solid;
overflow-y: hidden;
overflow-x: scroll}

#div_2
{height: 100px;
width: 100px;
border: 1px solid #A2A2A2;
float: left}
</style>

</head>
<body>

<div id="div_1">

<div id="div_3">

    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>
    <div id="div_2"></div>

</div>

</div>

<div style="width: 800px; overflow-x:auto; white-space: nowrap;">
    <div style="width: 300px; height: 100px; background-color: #f00; display: inline-block;"></div>
    <div style="width: 300px; height: 100px; background-color: #0f0; display: inline-block;"></div>
    <div style="width: 300px; height: 100px; background-color: #00f; display: inline-block;"></div>
    <div style="width: 300px; height: 100px; background-color: #ff0; display: inline-block;"></div>
<div style="width: 300px; height: 100px; background-color: #f00; display: inline-block;"></div>
    <div style="width: 300px; height: 100px; background-color: #0f0; display: inline-block;"></div>
    <div style="width: 300px; height: 100px; background-color: #00f; display: inline-block;"></div>
    <div style="width: 300px; height: 100px; background-color: #ff0; display: inline-block;"></div>
</div>
-->


