<div id="wf_outputs" style="height:300px;overflow:auto;">
<% if @sinks.count>0 %>
   <p>
     <b> This workflow has <%= @sinks.count %> <%= "Output".pluralize(@sinks.count)%> </b>
   </p>
   <% @sinks.each do |item| %> 
    <p>
        <% portname = item[0] %>
        <b><%= label_tag portname %></b> 
        <%= simple_format(@sink_descriptions[portname]) %> 
        <% unless @sinks[portname].nil? || @sinks[portname]=="" %>
          <b>Example Value:</b> 
          <%= simple_format(@sinks[portname]) %>
        <%end%>      

    </p>
    <% end %>

<% else %>  
  <p>
    <b> This workflow has no outputs </b>
  </p>
<% end %>
</div>  

