<table>
  <tr>
    <th>Title</th>
    <th>Author(s)</th>
    <% if current_user.admin -%>
      <th>Owner</th>
    <% end -%>
    <th colspan="3">Operations</th>
    <th>Shared?</th>
  </tr>

  <% @workflows.each do |workflow| %>
    <tr>
      <td title="<%= workflow.description %>" alt="<%= workflow.description %>">
      <%= workflow.title %>
    </td>
    <td>
      <%= workflow.author %>
    </td>
    <% if current_user.admin -%>
      <td>
        <% if workflow.user_id !=0 %>
          <%=User.find(workflow.user_id).name %>
        <%else%>
          No user
        <%end%>
      </td>	
    <% end -%>
    <td title="Show workflow details" alt="Show see workflow details">
      <%= link_to 'Details', workflow %>
    </td>
    <td title="Remove workflow" alt="Remove workflow">
      <%= link_to 'Remove', workflow, 
          :method => :delete, 
          :data => { :confirm => 'Remove this workflow: ' + 
                       workflow.title.to_s + "?" } %>
    </td>
    <td title="Run workflow" alt="Run workflow">
      <%= link_to 'Run', :controller => 'runs', 
          :action => 'new_run', :id => workflow.id %>
    </td>
    <td>
      <% if workflow.shared? -%>
        Yes (<%= link_to "Make private", make_private_workflow_path(workflow), :method => :put %>)
      <% else -%>
        No (<%= link_to "Make public", make_public_workflow_path(workflow), :method => :put %>)
      <% end -%>
    </td>
  </tr>
  <% end -%>
</table>
