<table id="private_workflows">
  <thead>  
    <tr>
      <th>Title</th>
      <th>Uploaded</th>
      <th>Author(s)</th>
      <% if current_user.admin -%>
        <th>Owner</th>
      <% end -%>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
  <% @workflows.each do |workflow| %>
    <tr>
      <td title="<%= workflow.description %>" alt="<%= workflow.description %>">
        <dl>
          <dt><%= workflow.title %></dt>
          <dd><%= truncate(strip_tags(workflow.description), length: 80) %></dd>
        </dl>
    </td>
    <td><%= workflow.created_at.strftime("%d/%m/%Y-%H:%M:%S") %></td>
    <td>
      <%= workflow.author %>
    </td>
    <% if current_user.admin -%>
      <td>
        <% if workflow.user_id !=0 %>
          <%=User.find(workflow.user_id).name %>
        <%else%>
          No user
        <%end%>
      </td>	
    <% end -%>
    <td>
    <div title="Show workflow details" alt="Show see workflow details" style="float:left">
      <%= link_to 'Details', workflow , :class => "link_img"%>
    </div>
    <div title="Remove workflow" alt="Remove workflow" style="float:left">
      <%= link_to 'Remove', workflow, :class => "link_img",
          :method => :delete, 
          :data => { :confirm => 'Remove this workflow: ' + 
                       workflow.title.to_s + "?" } %>
    </div>
    <div title="Run workflow" alt="Run workflow" style="float:left">
      <%= link_to 'Run', {:controller => 'runs' , 
          :action => 'new_run', :id => workflow.id}, :class => "link_img" %>
    </div>
    <div title="Download workflow" alt="Download workflow" style="float:left">
      <%= link_to 'Download', {:controller => 'workflows' , 
          :action => 'download', :id => workflow.id}, :class => "link_img" %>
    </div>
    <div title="toggle workflow sharing" alt="toggle workflow sharing" style="float:left">
      <% if workflow.shared? -%>
        <%= link_to "Make private", make_private_workflow_path(workflow), :method => :put, :class => "link_img"%>
      <% else -%>
        <%= link_to "Make public", make_public_workflow_path(workflow), :method => :put, :class => "link_img" %>
      <% end -%>
    </div>
    </td>
  </tr>
  <% end -%>
  </tbody>
</table>
