<div id="wf_inputs" style="height:300px;overflow:auto;">
<% if @sources.count>0 %>
   <p>
     <b> This workflow has <%= @sources.count %> <%= "Input".pluralize(@sources.count)%> </b>
   </p>
   <% @sources.each do |item| %> 
    <p>
        <% portname = item[0] %>
        <b><%= label_tag portname %></b>: 
        
        <%= label_tag @source_descriptions[portname] %> <br/>
        <b>Example Value:</b> <%= simple_format(@sources[portname]) %>
    </p>
    <% end %>

<% else %>  
  <p>
    <b> This workflow has no inputs </b>
  </p>
<% end %>
</div>  

