<h1>Listing workflows</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author(s)</th>
    <th colspan="4">Operations</h>
  </tr>

<% @workflows.each do |workflow| %>
  <tr>
    <td title="<%= workflow.description %>" alt="<%= workflow.description %>"><%= workflow.title %></td>
    <td><%= workflow.author %></td>
    <td><%= link_to 'Show', workflow %></td>
    <td><%= link_to 'Destroy', workflow, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    <td><%= button_to 'Run', :controller => 'runs', :action => 'new_run', :id => workflow.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workflow', new_workflow_path %>
