<% content_for :title, "Taverna Lite - Add Workflow"%>
<h1>Add workflow</h1>
<%= render :partial => 'add_workflow_tabs', :locals => {:workflow => @workflow} %>
<%= render :partial => 'add_workflow_myexperiment', :locals => {:workflow => @workflow} %>
<%= render :partial => 'add_workflow_local', :locals => {:workflow => @workflow} %>
<%= link_to 'Back', workflows_path %>
<%= javascript_tag do -%>
  $(document).ready(showonlyone('wf_myexp_div','wf_tab_myexp'));
<% end -%>
