<% if @workflow.title.nil?
     wf_title="No Title"
   else
     wf_title = @workflow.title
   end
 %>
<% content_for :title, "Taverna Lite - Workflow: " + wf_title %>

<h1><%= "Details of Workflow: " + wf_title %></h1>
<% if active_link?(@workflow.my_experiment_id ) %>
  <%= link_to( 
      image_tag("myexperiment.png", :height => "15", :alt => "my experiment"),
      @workflow.my_experiment_id)  %>
<% end %>
<p/>

<%= render :partial => 'workflow_tabs'%>
<div id="createrun" style="float:right;position:relative;">
  <b>Click to execute workflow</b>
  <%= button_to 'Create Run', :controller => 'runs', :action => 'new_run', 
  :id => @workflow %>
</div>
<br/><br/>
<%= javascript_tag do -%>
  $( "#tabs_wf_parts" ).tabs();
<% end -%>

<%= link_to 'Back', workflows_path %>

