<%= form_for(@credential) do |f| %>
  <% if @credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credential.errors.count, "error") %> prohibited this credential from being saved:</h2>
      <ul>
      <% @credential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
     <%= button_select(:credential, :server_type, {'R-Server' => 'rserver', 'Taverna Server' => 'ts' }) %>
  </div>
  <div class="field">
    <%= f.label :in_use %><br />
    <%= f.check_box :in_use %>
  </div>
  <div class="field">
    <%= f.label :default %><br />
    <%= f.check_box :default %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
