<h1>Listing credentials</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>Login</th>
    <th>In Use</th>
    <th>Default</th>
    <th>Type</th>
  </tr>

<% @credentials.each do |credential| %>
  <tr>
    <td><%= credential.name %></td>
    <td><%= credential.description %></td>
    <td><%= credential.url %></td>
    <td><%= credential.login %></td>
    <td><%= credential.in_use %></td>
    <td><%= credential.default %></td>
    <td><%= credential.server_type %></td>
    <td><%= link_to 'Show', credential %></td>
    <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
    <td><%= link_to 'Destroy', credential, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credential', new_credential_path %>
