<% content_for :title, "Taverna Lite - Registered Server Settings"%>

<h1>Server Settings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>Login</th>
    <th>Use</th>
    <th>Default</th>
    <th>Type</th>
    <th colspan="3">Operations</h>
  </tr>

<% @credentials.each do |credential| %>
  <tr>
    <td><%= credential.name %></td>
    <td><%= credential.description %></td>
    <td><%= credential.url %></td>
    <td><%= credential.login %></td>
    <td><%= credential.in_use %></td>
    <td><%= credential.default %></td>
    <td><%= credential.server_type %></td>
    <td><%= link_to 'Show', credential %></td>
    <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
    <td><%= link_to 'Delete', credential, :method => :delete, 
          :data => { :confirm => 'Delete settings for server: ' + 
                       credential.name + "?"} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credential', new_credential_path %>
