<% content_for :title, "Taverna Lite - Settings for Server " + @credential.name %>
<h1><%= "Settings for Server " + @credential.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @credential.name %>
</p>

<p>
  <b>Description:</b>
  <%= @credential.description %>
</p>

<p>
  <b>Server URL:</b>
  <%= @credential.url %>
</p>

<p>
  <b>Login:</b>
  <%= @credential.login %>
</p>


<p>
  <b>Password:</b>
  <%= @credential.password %>
</p>

<p>
  <b>Type:</b>
  <%= @credential.server_type %>
</p>

<p>
  <b>In Use:</b>
  <%= @credential.in_use %>
</p>

<p>
  <b>Default:</b>
  <%= @credential.default %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
