<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# 
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
# 
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# Authors
#     Abraham Nieva de la Hidalga
# 
# Synopsis 
# 
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is 
# provided to support easy inspection and execution of workflows.
# 
# For more details see http://www.biovel.eu
# 
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<div id="runstate">
  <p>
    <b>Current State:</b>
    <%= run.state %>
  </p>
  <p>
    <b>The run was started at:</b>
    <%= run.start.strftime("%d/%m/%Y - %H:%M:%S") %>
  </p>
  <% if run.state == "finished" %>
    <p>
      <b>The run finished at:</b>
        <%= run.end.strftime("%d/%m/%Y - %H:%M:%S") %>
    </p>    
    <div class="run_info">
      <b>Running Time:</b>
        <%= (run.end - run.start).round() %> seconds
        <%unless (run.end - run.start).round()<60%>
        (approx. <%= distance_of_time_in_words(0,(run.end - run.start),
                   [:include_seconds=>true]) %>)
        <%end%>
    </div>    
  <%else workflow = Workflow.find(run.workflow_id)%>
    <div class="run_info">
      <% unless workflow.run_count == 0 %>
        Estimated time to finish: 
          <%= distance_of_time_in_words(0,workflow.average_run.round(),true) %> 
          (<%= workflow.average_run.round() %> seconds on average calculated 
             after <%= workflow.run_count %> runs)
      <% else %>
        This is the first time this workflow is executed in Taverna Lite
      <% end %>
      <% unless current_user.nil? %>
        <%= button_to 'Cancel Run', 
                  run, 
                  :method => :delete, 
                  :data => { :confirm => 'Cancel this Run ' + 
                               run.description + 
                               ' created '+ 
                               run.creation.strftime("%d/%m/%Y-%H:%M:%S") +
                               "?"} %>
      <% end %>
    </div>
  <% end %>
</div>

