<div id="runresults">
  <% if run.results.count > 0 %>
    <h3>Results</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Result type</th>
      </tr>
      <% for result in run.results.each %>
        <tr>
          <td><%=h result.name %></td>
          <td><%=h result.filetype.split(/-*/) %></td>
          <td><%= button_to 'Download', :controller => 'result', :action => 'download', :id => result.id %></td>
        </tr>
        <tr> 
          <td colspan="3">
            <% if result.filetype.to_s =~ /text/ %>
              <%= simple_format(IO.read(result.result_filename))%>
            <% elsif result.filetype.to_s =~ /error/ %>
              <%= simple_format(IO.read(result.result_filename))%>
            <% else %>
              <%= image_tag( result.result_filepath, :height => '100%', :width =>'100%') %>
            <% end %>
          </td>    
        </tr>
      <% end %>
    </table> 
  <%end%>
</div>

