<div class='run_state'>

  <h3> Run: <%=h run.description%></h3>

  <% if active_link?(workflow.my_experiment_id ) %>
    <%= link_to(
      image_tag("myexperiment.png", :height => "15", :alt => "my experiment"),
        workflow.my_experiment_id) %>
  <% end %>

  <%= render :partial => 'run_results', :locals => {:run => run} %>

  <dl class='list_any'>
    <dt class='list_title'>User:</dt>
    <dd class='list_description'>
      <%= run.user_id.nil? ? "Guest" : User.find(run.user_id).name %>
    </dd>
    <dt class='list_title'>Current State:</dt>
    <dd class='list_description'>
      <%= run.state %>
    </dd>
    <dt class='list_title'>The run was started at:</dt>
    <dd class='list_description'>
      <%= run.start.strftime("%d/%m/%Y - %H:%M:%S") %>
    </dd>
    <dt class='list_title'>The run finished at:</dt>
    <dd class='list_description'>
      <%= run.end.strftime("%d/%m/%Y - %H:%M:%S") %>
    </dd>
    <dt class='list_title'>Running Time:</dt>
    <dd class='list_description'>
      <%= (run.end - run.start).round() %> seconds
      <%unless (run.end - run.start).round() < 60 %>
        (approx. <%= distance_of_time_in_words(0, (run.end - run.start),
                   [:include_seconds => true]) %>)
      <%end%>
    </dd>
 </dl>
</div>


