<div class="show_result">
  <% unless result.filetype.to_s =~ /error/ %>
    <div class="download_button">
      <%= button_to 'Download', :controller => 'results',
        :action => 'download', :id => result.id %>
    </div>
  <% end %>

  <% if result.filetype.to_s =~ /text/ %>
    <%= format_text_result(result) %>
  <% elsif result.filetype.to_s =~ /error/ %>
    <!-- Here is where errors should be handled -->
    <dl class='list_any'>
      <dt class='list_title'>Error:</dt>
      <dd class='list_description'>
        <%= @run_error_codes[result.name].error_name -%>
      </dd>
    <dt class='list_title'>Explanation:</dt>
    <dd class='list_description'>
      <%= @run_error_codes[result.name].error_message %>
    </dd>
    <dt class='list_title'>Text:</dt>
    <dd class='list_description'>
      <% error_text = IO.read(result.result_filename) %>
      <%= render :partial => 'partials/preview_and_detail',
        :locals => { :content_label => result.name,
        :content => error_text } %>
    </dd>
  </dl>
  <% else %>
    <%= image_tag result.result_filepath %>
  <% end %>
</div>
