<div id="runresults">
  <% if run.results.count > 0 %>
    <h3>Results</h3>
    <div id="tabs_results">
      <ul>
        <% for result in run.results.each %>
        <li>
          <a href="#search_<%= result.name %>" >
            <%= label_tag result.name %>
          </a>
        </li>
        <% end %>
      </ul>
      <% for result in run.results.each %>
      <div id="search_<%= result.name %>">
          <b>Result type</b>
          <%=h result.filetype.split(/-*/).join %>
          <%= button_to 'Download', :controller => 'result', 
                          :action => 'download', :id => result.id %>
        <%if !@sink_descriptions[result.name].nil? && 
             @sink_descriptions[result.name] != ""  %>
              <b>Description</b><br />
              <%= @sink_descriptions[result.name] %>
        <%end%><br />
          <b>Value(s)</b><br />
            <% if result.filetype.to_s =~ /text/ %>
              <%= simple_format(IO.read(result.result_filename))%>
            <% elsif result.filetype.to_s =~ /error/ %>
              <%= simple_format(IO.read(result.result_filename))%>
            <% else %>
              <%= image_tag result.result_filepath %>
            <% end %>

      </div>
      <% end %>
     </div>
  <%end%>
</div>

