<div id="runstate">
  <p>
    <b>Current State:</b>
    <%= run.state %>
  </p>
  <p>
    <b>The run was started at:</b>
    <%= run.start.strftime("%d/%m/%Y - %H:%M:%S") %>
  </p>

  <% if run.state == "finished" %>
    <p>
      <b>The run finished at:</b>
        <%= run.end.strftime("%d/%m/%Y - %H:%M:%S") %>
    </p>
    <p>
      <b>Running time (aprox.):</b>
        <%= distance_of_time_in_words(0,(run.end - run.start),[:include_seconds=>true]) %> (Exactly <%= (run.end - run.start).round() %> seconds)
    </p>
  <%else workflow = Workflow.find(run.workflow_id)%>
    <p> Estimated time to finish: 
        <%= distance_of_time_in_words(0,workflow.average_run.round(),true) %> 
        (<%= workflow.average_run.round() %> seconds on average calculated after <%= workflow.run_count %> runs )
    </p>
  <% end %>
</div>

