<% unless current_user.nil?
     if current_user.admin
       content_for :title, "Taverna Lite - Runs for all users"
     else
       content_for :title,
                  "Taverna Lite - Runs created by " + current_user.name
     end
   else
     content_for :title, "Taverna Lite - Runs for Guest user"
   end -%>
<h1><%= "Guest" if current_user.nil? %> Runs</h1>

<p>This page lists workflow runs created using Taverna Lite.</p>
<p>
  A run is the execution of a workflow, including its results.
</p>

<% if current_user.nil? -%>
  <p>
    Guest runs are periodically deleted! <%= link_to 'Register', sign_up_path%>
    to keep run results for longer. 
  </p>
<%end%>
<table>
  <tr>
    <th>Description</th>
    <th>Created</th>
    <th>State</th>
    <th>Results</th>
    <% if !current_user.nil? && current_user.admin %>
      <th>User</th>
    <% end %>
    <th colspan="2">Operations</h>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%= run.description %></td>
    <td><%= run.creation.strftime("%d/%m/%Y-%H:%M:%S") %></td>
    <td><%= run.state %></td>
    <td><%= run.results.count %></td>
    <% if !current_user.nil? && current_user.admin -%>
      <td><%=
            if run.user_id.nil?
              'Guest'
            else    
              User.find(run.user_id).name 
            end
            %></td>	
    <% end -%>
    <td title="Click to see run details" alt="Click to see run details">
      <%= link_to 'Details', run %>
    </td>
    <% if !current_user.nil? -%>
    <td title="Click to delete run" alt="Click to delete run">
      <%= link_to 'Delete', 
                  run, 
                  :method => :delete, 
                  :data => { :confirm => 'Delete Run ' + 
                               run.description + 
                               ' created '+ 
                               run.creation.strftime("%d/%m/%Y-%H:%M:%S") +
                               "?"} %>
    </td>
    <% end -%>
    <!--<td>Archive</td>-->
  </tr>
<% end %>
  
</table>
<br />
<%if @runs.count == 0 %>
  <br />
  No runs have been generated  
<% end %>

<%= javascript_tag do -%>
$(document).ready(
/*PENDING: only update if there are running workflows or if a new run is 
  detected, do not update otherwise*/
  function(){
      setInterval("location.reload(true);", 15000 );
  });
<% end -%>

