<% 
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# 
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
# 
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# Authors
#     Abraham Nieva de la Hidalga
# 
# Synopsis 
# 
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is 
# provided to support easy inspection and execution of workflows.
# 
# For more details see http://www.biovel.eu
# 
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359. 
%>
<% unless current_user.nil?
     if current_user.admin
       content_for :title, "Taverna Lite - Runs for all users"
     else
       content_for :title,
                  "Taverna Lite - Runs created by " + current_user.name
     end
   else
     content_for :title, "Taverna Lite - Runs for Guest user"
   end -%>
<h1><%= "Guest" if current_user.nil? %> Runs</h1>

<p>This page lists workflow runs created using Taverna Lite.</p>
<p>
  A run is the execution of a workflow, including its results.
</p>

<% if current_user.nil? -%>
  <p>
    Guest runs are periodically deleted! <%= link_to 'Register', sign_up_path%>
    to keep run results for longer. 
  </p>
<%end%>
<%running=0%>
<table id="runs_table">
 <thead>
  <tr>
    <th>Description</th>
    <th>Created</th>
    <th>State</th>
    <th>Results</th>
    <% if !current_user.nil? && current_user.admin %>
      <th>User</th>
    <% end %>
    <th>Operations</th>
  </tr>
    </thead>
    <tbody>

<% @runs.each do |run| %>
  <% if run.state =='running' 
       running += 1
     end%>
  <tr>
    <td><%= run.description %></td>
    <td><%= run.creation.strftime("%Y/%m/%d-%H:%M:%S") %></td>
    <td><%= run.state %></td>
    <td><%= run.results.count %></td>
    <% if !current_user.nil? && current_user.admin -%>
      <td><%=
            if run.user_id.nil?
              'Guest'
            else    
              User.find(run.user_id).name 
            end
            %></td>	
    <% end -%>
    <td>
    <div title="Click to see run details" alt="Click to see run details" style="float:left">
      <%= link_to 'Details', run, :class => "link_img" %>
    </div>
    <% if !current_user.nil? -%>
    <div title="Click to delete run" alt="Click to delete run" style="float:left">
      <%= link_to 'Delete', 
                  run, 
                  :method => :delete, 
                  :data => { :confirm => 'Delete Run ' + 
                               run.description + 
                               ' created '+ 
                               run.creation.strftime("%d/%m/%Y-%H:%M:%S") +
                               "?"}, :class => "link_img_rem" %>
    </div>
    </td>
    <% end -%>

  </tr>

<% end %>
  <tbody>  
</table>
<br />
<%if @runs.count == 0 %>
  <br />
  No runs have been generated  
<% end %>

<%= javascript_tag do -%>
var runs_probe=""
var runs_count=""
var runs_running=""

$(document).ready(function() {
  var oTable = $('#runs_table').dataTable(); 
  // Sort by date descending (column 1)
  oTable.fnSort( [[1,'desc']] );
} );

  $(document).ready(
    function(){
      if(runs_probe==""){
        runs_probe=window.setInterval("refreshing_runs()",5000)
      }
    });

  function refreshing_runs(){
    $.ajax({
      url: "runs_refresh_list",
      data: "runs="+<%= @runs.count.to_s %> + "&running=" + <%= running.to_s %>,
      type: "GET",
      dataType: "script"
    });
  }

<% end -%>

