<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is
# provided to support easy inspection and execution of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>

<% content_for :title, "BioVeL Portal - Create Run for " +
                 @workflow.title + "Workflow"%>

<h2> New Run of <%=h @workflow.title%></h2>

<% if current_user.nil? %>
  <h3>Guest users: please note</h3>
  <p>
    You are starting this workflow run as a <b>Guest user</b>. The outputs of
    this run will be available on this portal for seven days after it
    finishes, at which point they will be deleted.
    <br />
  	If you wish to keep the results for longer than that please
  	<%= link_to "log in", new_user_session_path %> before starting a run. If you do not
    have an account yet you can <%= link_to "sign up", new_user_registration_url %>.
  </p>
<% end %>

<%= form_for :file_uploads,
      :url => {:controller => 'runs', :action => 'new_run'},
      :html => {:multipart => true, :id => "new-run-form"}, :disable_with => "Initialising Run" do |f| %>
  <%= hidden_field_tag "workflow_id", @workflow.id %>
  <br />
  <div class="input-details" style="border: solid 1px transparent;">
    <dt><%= f.label :run_name %></dt>
    <dd><%= f.text_field :run_name, :value => @workflow.title,
      :class => "pre-filled" %></dd>
  </div>

  <% if @sources.length > 0 %>
    <% @custom_inputs.each do |item| %>
      <% portname = item.name %>
      <% example_value = @sources[portname].blank? ? "": @sources[portname] -%>

      <div class="input-details">

      <h2>Input: <%= portname %></h2>

      <% if item.id.nil? %>
        <!-- If not customised show default view -->

        <% unless @descriptions[portname].blank? %>
          <dt>Description</dt>
          <dd><%= @descriptions[portname] %></dd>
        <% end %>

        <% unless example_value.blank? -%>
          <dt>Example Value:</dt>
          <dd>
            <%= render :partial => 'partials/preview_and_detail',
              :locals => {:content_label => "cit_"+ portname, :content => example_value } %>
          </dd>

          <dt>&nbsp;</dt>
          <dd>
            The example value is automatically entered in the box below.
            Click to edit it or enter a new value.
          </dd>
        <% end %>

        <dt>Enter Value</dt>
        <dd>
          <%= f.text_area portname, :value => example_value, :rows => 2,
            :class => "pre-filled" %>
        </dd>
        <dt>Select File</dt>
        <dd>
          <%= f.file_field  "file_for_#{portname}" %>
        </dd>

      <% else %>
        <!-- If customised show custom sample and/or file -->

        <dt>Description</dt>
        <dd>
          <%= @descriptions[portname].blank? ? "Not Provided" : @descriptions[portname] %>
        </dd>

        <% if (item.display_control_id == 1) || item.display_control_id == 2 %>
          <!-- get input from value field -->
            <dt>Example Value</dt>
            <dd>
              <%= render :partial => 'partials/preview_and_detail',
                :locals => {:content_label => portname, :content => item.sample_value } %>
            </dd>

            <dt>&nbsp;</dt>
            <dd>
              The example value is automatically entered in the box below.
              Click to edit it or enter a new value.
            </dd>

            <dt>Enter Value</dt>
            <dd>
              <%= f.text_area portname, :value => item.sample_value,
                :rows => 2, :class => "pre-filled" %>
            </dd>
          <% end # custom value field %>

          <% if (item.display_control_id == 1) || item.display_control_id == 3 %>
            <!-- get input from file field -->

            <dt>Example File (<%=item.sample_file%>) content</dt>
            <% if item.sample_file_type.to_s =~ /text/
               example_file_text = IO.read(item.sample_file_actual_path)
             else
               #example_file_text = item.samplefile.to_s() + ' (' + item.sample_file_type.to_s()  + ')'
               example_file_text = item.sample_file.to_s() + ' (' + item.sample_file_type.to_s()  + ')'
             end %>
            <dd>
              <%= render :partial => 'partials/preview_and_detail',
                :locals => {:content_label => portname, :content => example_file_text } %>
            </dd>

            <%= f.hidden_field portname, :value => "need_file" %>
            <%= f.hidden_field "default_file_for_#{portname}",
              :value => item.sample_file_actual_path %>

            <dt>Select File</dt>
            <dd>
              <%= f.file_field "file_for_#{portname}" %>
            </dd>
          <% end # custom file field %>

      <% end # item.id.nil? %>
      </div>
    <% end # custom inputs loop %>
  <% end # sources > 0 %>

  <div>
    <h2>Provide input values and click to execute</h2>
    <%= submit_tag 'Start Run', :disable_with => "Starting..." %>
  </div>
<% end # form %>
