<h1>New run</h1>

<%= form_for :file_uploads, :url => {:controller => 'runs', :action => 'new_run'}, :html => {:multipart => true} do |f| %>
  <% #error_message_tag %>
  <%= hidden_field_tag "workflow_id", @workflow.id %>
  <p>
    Workflow: <%= @workflow.name %> 
  </p>
  <% unless @sources.length()>0%>
    <p>
      Identifier: <%= cookies[:run_identification] %> 
    </p>
  <% else %>
    <h2>
      Input Values
    </h2>
    <% @sources.each do |item| %> 
    <p>
        <% portname = item[0] %>
        Value for <b><%= label_tag portname %></b>: <%=h f.text_field portname %> or  File <%= f.file_field  "file_for_#{portname}" %><br/> 
        
        <%= label_tag @descriptions[portname] %> <br/>
        Example Value: <%= @sources[portname] %>
    </p>
    <% end %>
    <p>
      <%= submit_tag 'Start Run' %>
    </p>
  <% end %>

<% end %>


