<% content_for :title, "Taverna Lite - Create Run for " + 
                 @workflow.title + "Workflow"%>
<h1> Create Run for <%=h @workflow.title%> Workflow</h1>
<br/>
<%= form_for :file_uploads, 
      :url => {:controller => 'runs', :action => 'new_run'}, 
      :html => {:multipart => true} do |f| %>
  <%= hidden_field_tag "workflow_id", @workflow.id %>


  <% unless @sources.length()>0%>
    <p>
      Identifier: <%= cookies[:run_identification] %> 
    </p>
  <% else %>
    <h1>
      Input Parameters
    </h1>
    <% @sources.each do |item| %> 
    <p>
      <% portname = item[0] %>
      <h3><%= label_tag portname %></h3> 
      <p><%= label_tag @descriptions[portname] %></p>
      <% example_value = "" -%>
      <% unless @sources[portname].blank? -%>
        <b>Example Value:</b><br/> 
        <%= simple_format(@sources[portname]) %>
        <p>
          <b>
            The example value is automatically entered in the box below. 
            Click on the input box to edit it or enter a new value.
          </b>
        </p>
        <% example_value = @sources[portname] -%>
      <% end -%>
      <p>
      Enter Value: <%= f.text_area portname, :value => example_value, 
                     :rows => 3, :onclick => '$(this).select();' %> 
      or Select File <%= f.file_field  "file_for_#{portname}" %>
      </p>
    </p>
    <% end %>
  <% end %>
  <div style="float:right;position:relative;">
    <b> 
      Provide input values and click to execute 
    </b><br/>
    <%= submit_tag 'Start Run' %>          	
  </div>
<% end %>
 <br /><br />
 

