<% content_for :title, "Taverna Lite - Run of " +
                 @run.description + " Workflow"%>
<h1> Workflow Run </h1>
<h2><%=h @run.description%> Workflow</h2>

<% if active_link?(Workflow.find(@run.workflow_id).my_experiment_id ) %>
  <%= link_to( 
      image_tag("myexperiment.png", :height => "15", :alt => "my experiment"),
      Workflow.find(@run.workflow_id).my_experiment_id)  %>
<% end %>
<p/>
<p>
  <b>User:</b>
  <%= @run.user_id.nil? ? "Guest" : User.find(@run.user_id).name %>
</p>
<%= render :partial => 'runstate', :locals => {:run => @run} %>
<%= render :partial => 'runresults', :locals => {:run => @run} %>
<%= render :partial => 'interactionframe'%>
<%= javascript_tag do -%>
var run_probe=""
var interaction_probe=""
var interaction_identifier=""

  $(document).ready(
    function(){
      monitor_run();
    });
  /*PENDING: do not monitor if run is finished*/
  function monitor_run(){
    if(run_probe==""){
      if(interaction_probe!=""){
        window.clearInterval(interaction_probe)
        interaction_probe=""
      } 
      run_probe=window.setInterval("monitoring_run()",5000)
    }else{
        monitor_interaction()
    }
  }

  function monitoring_run(){
    $.ajax({
      url: "<%= 'refresh/'+@run.id.to_s %>",
      type: "GET",
      dataType: "script"
    });
  }
  function monitor_interaction(){
    if(run_probe!=""){
      window.clearInterval(run_probe)
      run_probe=""
      interaction_probe=window.setInterval("monitoring_interaction()",5000)
    }
  }
  function monitoring_interaction(){
    var x = interaction_identifier
    var i_uri = "<%= 'interaction/'+@run.id.to_s %>"+'/'
    if (interaction_identifier != "")
      i_uri = i_uri + x
    $.ajax({
      url: i_uri,
      type: "GET",
      dataType: "script"
    }); 
  }
     
<% end -%>
