<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is
# provided to support easy inspection and execution of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<h1>Listing workflow_errors</h1>

<table>
  <tr>
    <th>Workflow</th>
    <th>Error code</th>
    <th>My experiment</th>
    <th>Error name</th>
    <th>Error pattern</th>
    <th>Error message</th>
    <th>Runs count</th>
    <th>Ports count</th>
    <th>Most recent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workflow_errors.each do |workflow_error| %>
  <tr>
    <td><%= workflow_error.workflow_id %></td>
    <td><%= workflow_error.error_code %></td>
    <td><%= workflow_error.my_experiment_id %></td>
    <td><%= workflow_error.error_name %></td>
    <td><%= workflow_error.error_pattern %></td>
    <td><%= workflow_error.error_message %></td>
    <td><%= workflow_error.runs_count %></td>
    <td><%= workflow_error.ports_count %></td>
    <td><%= workflow_error.most_recent %></td>
    <td><%= link_to 'Show', workflow_error %></td>
    <td><%= link_to 'Edit', edit_workflow_error_path(workflow_error) %></td>
    <td><%= link_to 'Destroy', workflow_error, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workflow error', new_workflow_error_path %>
