
<%
  unless current_user.nil?
    if current_user.admin
      content_for :title, "BioVeL Portal - Runs for all users"
    else
      content_for :title, "BioVeL Portal - Runs created by " + current_user.name
    end
  else
    content_for :title, "BioVeL Portal - Runs for Guest user"
  end
%>

<h1><%= "Guest " if current_user.nil? %>Runs</h1>

<p>This page lists workflow runs created using BioVeL Portal.</p>
<p>
  A run is the execution of a workflow, including its results.
</p>

<% if current_user.nil? -%>
  <p>
    Guest runs are periodically deleted!
    <%= link_to 'Register', main_app.new_user_registration_path %>
    to keep run results for longer.
  </p>
<% end %>

<table id="runs-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>State</th>
      <% if !current_user.nil? && current_user.admin %>
        <th>Owner</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @runs.each do |run| %>
    <tr>
      <td><%= link_to run.name, run %></td>
      <td><%= run.create_time %></td>
      <td><%= run.state %></td>
      <% if !current_user.nil? && current_user.admin %>
        <td>N/A</td>
      <% end %>
      <td>
        <div class="run-button-left">
          <%= link_to 'Details', run, :class => "link_img" %>
        </div>
        <%= render :partial => "button", :locals => { :run => run } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
