<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is
# provided to support easy inspection and execution of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<h1>Listing workflow_ports</h1>

<table>
  <tr>
    <th>Workflow</th>
    <th>Name</th>
    <th>Display name</th>
    <th>Display description</th>
    <th>Order</th>
    <th>Port value type</th>
    <th>Sample value</th>
    <th>Sample file</th>
    <th>Show</th>
    <th>Display control</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workflow_ports.each do |workflow_port| %>
  <tr>
    <td><%= workflow_port.workflow_id %></td>
    <td><%= workflow_port.name %></td>
    <td><%= workflow_port.display_name %></td>
    <td><%= workflow_port.display_description %></td>
    <td><%= workflow_port.order %></td>
    <td><%= workflow_port.port_value_type %></td>
    <td><%= workflow_port.sample_value %></td>
    <td><%= workflow_port.sample_file %></td>
    <td><%= workflow_port.show %></td>
    <td><%= workflow_port.display_control_id %></td>
    <td><%= link_to 'Show', workflow_port %></td>
    <td><%= link_to 'Edit', edit_workflow_port_path(workflow_port) %></td>
    <td><%= link_to 'Destroy', workflow_port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workflow port', new_workflow_port_path %>
