<%= form_for(@interaction_entry) do |f| %>
  <% if @interaction_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction_entry.errors.count, "error") %> prohibited this interaction_entry from being saved:</h2>

      <ul>
      <% @interaction_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_name %><br />
    <%= f.text_field :author_name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :href %><br />
    <%= f.text_field :href %>
  </div>
  <div class="field">
    <%= f.label :in_reply_to %><br />
    <%= f.text_field :in_reply_to %>
  </div>
  <div class="field">
    <%= f.label :input_data %><br />
    <%= f.text_area :input_data %>
  </div>
  <div class="field">
    <%= f.label :interaction_id %><br />
    <%= f.text_field :interaction_id %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.datetime_select :published %>
  </div>
  <div class="field">
    <%= f.label :response %><br />
    <%= f.check_box :response %>
  </div>
  <div class="field">
    <%= f.label :result_data %><br />
    <%= f.text_area :result_data %>
  </div>
  <div class="field">
    <%= f.label :result_status %><br />
    <%= f.text_field :result_status %>
  </div>
  <div class="field">
    <%= f.label :run_id %><br />
    <%= f.text_field :run_id %>
  </div>
  <div class="field">
    <%= f.label :taverna_interaction_id %><br />
    <%= f.text_field :taverna_interaction_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :updated %><br />
    <%= f.datetime_select :updated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
