<p id="notice"><%= notice %></p>

<p>
  <b>Author name:</b>
  <%= @interaction_entry.author_name %>
</p>

<p>
  <b>Content:</b>
  <%= @interaction_entry.content %>
</p>

<p>
  <b>Href:</b>
  <%= @interaction_entry.href %>
</p>

<p>
  <b>In reply to:</b>
  <%= @interaction_entry.in_reply_to %>
</p>

<p>
  <b>Input data:</b>
  <%= @interaction_entry.input_data %>
</p>

<p>
  <b>Interaction:</b>
  <%= @interaction_entry.interaction_id %>
</p>

<p>
  <b>Published:</b>
  <%= @interaction_entry.published %>
</p>

<p>
  <b>Response:</b>
  <%= @interaction_entry.response %>
</p>

<p>
  <b>Result data:</b>
  <%= @interaction_entry.result_data %>
</p>

<p>
  <b>Result status:</b>
  <%= @interaction_entry.result_status %>
</p>

<p>
  <b>Run:</b>
  <%= @interaction_entry.run_id %>
</p>

<p>
  <b>Taverna interaction:</b>
  <%= @interaction_entry.taverna_interaction_id %>
</p>

<p>
  <b>Title:</b>
  <%= @interaction_entry.title %>
</p>

<p>
  <b>Updated:</b>
  <%= @interaction_entry.updated %>
</p>


<%= link_to 'Edit', edit_interaction_entry_path(@interaction_entry) %> |
<%= link_to 'Back', interaction_entries_path %>
